@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  overflow: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: white;
  
}

/* background Theme */
.day-theme,
.midday-theme,
.night-theme,
.theme,
.page-loader {
  min-width: 100%;
  overflow-y: hidden;
  height: 100vh;
  animation: fadein 0.5s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.theme {
  background-image: linear-gradient(#70a6bd, #0d347b);
}

.day-theme {
  background-image: linear-gradient(#0654b3, #a9b0ff);
}

.midday-theme {
 
  background-image: linear-gradient(#0654b3, #a9b0ff);
}

.night-theme {
  background-image: linear-gradient(#293348, #0e1421);
  color: #ffffff;
}

/* Global */

.page-padding {
  padding: 0 10%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 8em;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0.3em;
}

.text {
  font-size: 0.8em;
}

h2, .text {
  font-weight: 400;
  margin-bottom: 0;
}

.condition {
  align-items: center;
  margin-top: -2em;
}

.weather-icon {
  height: 4em;
  width: 4em;
}

.subheading {
  font-size: 1.4em;
  text-transform: capitalize;
}

.margin-0 {
  margin: 0;
  padding: 0;
}

.flex-col,.flex-row  {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.z-index-2 {
  z-index: 2;
}

.search-container {
  position: relative;
  width: 55%;
  margin: 0 auto;
  top: 29em;
  z-index: 99;
}

.searchbar {
  height: 5em;
  width: 60em;
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.8) 0px 50px 100px -20px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
}

input[type='search'] {
  padding-left: 40px;

}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type='search']::placeholder {
  font-family: 'DM Sans';
  color: rgba(41, 51, 72, 0.5);
}

input[type='search']:focus {
  outline-color: #5ab5ff;
  outline-width: 0.1px;
}

button[type='submit'] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5em;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.searchbtn {
  width: 1.4em;
}

.label {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
}

.detail {
  font-size: 2em;
  text-transform: lowercase;
}

.detail-border {
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 3em;
}

.detail-border:last-child {
  border: none;
}

/* Page Loader */
.page-loader {
  flex-direction: column;
  background-image: linear-gradient(#3d5959, #222a33);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: auto;
  display: grid;
  place-items: center;
  overflow: hidden;
  z-index: 9;
}

.page-loader-icon {
  max-width: 70px;
  max-height: 70px;
}

.text-load {
  position: absolute;
  font-size: 1em;
  font-weight: 300;
  color: #ffffff;
  margin-top: 5%;
}

/* Lottie Animation */
.animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;

}

.details-container {
  position: fixed;
  bottom: 0;
  background-image: url('assets/details-bg.svg');
  background-size: cover;
  width: 100vw;
  height: 62%;
  z-index: 9;
  color: #0e1421;
}

.details {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 8em;
  gap: 3em;
}

@media screen and (max-width: 912px) {
  body {
    overflow-y: hidden;
  }

  .page-padding {
    padding: 2em 4em;
  }

  .weather-description {
    font-size: 1.9em;
    margin-left: 10%;
    width: 300px;
  }

  .divider {
    visibility: collapse;
  }

  .animation {
    margin-top: 45%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 415px) {
  body {
    height: 110vh;
  }

  .page-padding {
    padding: 1em 3em;
  }
 

  .animation {
    margin-top: 65%;
    width: 110%;
    margin-right: -4%;
  }
}
